<h1>Login</h1>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<form action="Login" method="post">
    <input type="text" name="username" value="" />
    <input type="text" name="password" value="" />
    <button type="submit">Login</button>
</form>