@using Synthesis.Controllers
@using Synthesis.Models.ViewModels
@model Synthesis.Models.ViewModels.RegisterViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<h2>Register</h2>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new {role = "form"}))
{
    @Html.Label("Email")
    <br/>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
    </div>
    <br/>
    <br/>
    @Html.Label("Password")
    <br/>
    <div class="col-md-10">

        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
    </div>
    <br/>
    <br/>
    <input type="submit" value="Register"/>
}